html {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: var(--text);
	background-color: var(--background);
	height: 100%;
}

/* roboto-300 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/roboto-v49-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.theme-light {
	--text: hsl(0, 0%, 0%);
	--text-secondary: hsl(0, 0%, 38%);
	--background: hsl(0, 0%, 100%);
	--opacity: hsla(0, 0%, 100%, 0.5);
	--card-bcg: hsl(0, 0%, 100%);
	--card-border: hsl(0, 0%, 80%);
	--card-hover: hsl(0, 0%, 95%);
	--card-inner-border-hover: hsl(0, 0%, 80%);
}

/* .theme-light {
	--text: hsl(0, 0%, 0%);
	--text-secondary: hsl(0, 0%, 38%);
	--background: hsl(0, 0%, 100%);
	--opacity: hsla(0, 0%, 100%, 0.5);
	--card-bcg: hsl(0, 0%, 95%);
	--card-border: hsl(0, 0%, 95%);
	--card-hover: hsl(0, 0%, 90%);
	--card-inner-border-hover: hsl(0, 0%, 80%);
} */

.theme-dark {
	--text: hsl(0, 0%, 100%);
	--text-secondary: hsl(0, 0%, 67%);
	--background: hsl(0, 0%, 0%);
	--opacity: hsla(0, 0%, 0%, 0.5);
	--card-bcg: hsl(0, 0%, 15%);
	--card-border: hsl(0, 0%, 15%);
	--card-hover: hsl(0, 0%, 25%);
	--card-inner-border-hover: hsl(0, 0%, 25%);
	/* filter: brightness(0.95); */
}

body {
	height: 100%;
	flex-direction: row;
	letter-spacing: 0.05rem;
	background-color: var(--background);
	display: flex;
	justify-content: center;
}

#wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 2560px;
	display: flex;
}

hr {
	border: 0.03125rem solid var(--text);
	margin: 0;
}

hr.margin {
	margin: 0 1rem;
}

header {
	width: 100%;
	max-width: 2560px;
	position: fixed;
	top: 0;
	background-color: var(--opacity);
	z-index: 1;
	touch-action: none;
	overflow: auto;
	padding: 0;
}

#heading {
	padding: 1rem;
	margin: 0;
	font-size: 1.9rem;
	letter-spacing: 0.1rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem 2rem;
	white-space: nowrap;
	flex-wrap: wrap;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

#heading h1 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: 700;
	cursor: pointer;
}

#heading h1:hover {
	background-color: var(--text);
	color: var(--background);
}

#icons {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
	/* align-items: center; */
	/* background-color: blue; */
}

#icons button,
#icons a {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red !important; */
}

#icons svg {
	width: 2.4rem;
	height: 2.4rem;
}

svg.hide {
	display: none;
}

main {
	flex: 1;
	overflow: auto;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 7.184rem;
	padding-bottom: 8.012rem;
}

.grid-container {
	display: grid;
	gap: 2rem;
	padding: 2rem 0;
}

h2 {
	padding: 0;
	margin: 2rem 0 0 0;
	font-size: 1.45rem;
	font-weight: 300;
	display: flex;
	max-width: max-content;
}

.grid-container--fill {
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.grid-container--fill.music {
	grid-template-columns: 1fr;
}

.theme-dark .grid-container--fill img {
	box-shadow: none;
}

section h2 {
	cursor: pointer;
	text-decoration: none;
}

section h2:hover {
	text-decoration: line-through;
}

section.hidden .grid-container {
	padding: 1rem 0;
}

section.hidden h2:hover {
	text-decoration: none;
}

section.hidden h2:hover::before {
	content: '+\00a0';
}

section.hidden > .grid-container--fill > * {
	display: none;
}

.item {
	text-decoration: none;
	color: var(--text);
	padding: 1rem;
	padding: clamp(1rem, calc((16 / 288) * 100cqw), 2rem);
	border-radius: 1rem;
	border-radius: clamp(1rem, calc((16 / 288) * 100cqw), 2rem);
	background-color: var(--card-bcg);
	border: 0.03125rem solid var(--card-border);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	gap: clamp(1rem, calc((16 / 288) * 100cqw), 2rem);
	flex: 1;
}

.grid-container--fill.music .item {
	padding: 1rem;
	padding: clamp(1rem, calc((16 / 288) * 25cqw), 2rem);
	border-radius: 1rem;
	border-radius: clamp(1rem, calc((16 / 288) * 25cqw), 2rem);
	gap: 1rem;
	gap: clamp(1rem, calc((16 / 288) * 25cqw), 2rem);
}

.item:hover {
	background-color: var(--card-hover);
	border: 0.03125rem solid var(--card-hover);
}

.item:hover img {
	outline: 0.015625rem solid var(--card-inner-border-hover);
}

.grid-container .item-container {
	transition: filter 0.5s ease;
	container-type: inline-size;
}

.grid-container.grayscale .item-container {
	filter: grayscale(1);
}

.grid-container.grayscale .item-container:hover {
	filter: grayscale(0);
}

.item .img-container {
	padding: 0.125rem;
	padding: clamp(0.125rem, calc((2 / 288) * 100cqw), 0.25rem);
	transform-style: preserve-3d;
	display: flex;
	aspect-ratio: 4/3;
}

.item picture {
	display: flex;
	aspect-ratio: 4/3;
	width: 100%;
}

.item img {
	max-width: 100%;
	border-radius: 1rem;
	box-shadow: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0.1) 0px 1px 3px 0px,
		hsla(0, 0%, 0%, 0.1) 0px 1px 2px -1px;
	box-sizing: border-box;
	object-fit: cover;
	aspect-ratio: 4/3;
	display: flex;
	flex: 1;
	margin-bottom: -0.0625rem;
}

.item:has(img[data-lightbox]) {
	cursor: pointer;
}

.item p {
	line-height: 1.5em;
	margin: 0;
}

.item-container-wrap {
	container-type: inline-size;
}

.item-container {
	display: flex;
	height: 100%;
	border-radius: 1rem;
	border-radius: clamp(1rem, calc((16 / 288) * 100cqw), 2rem);
}

.item-container[data-rendered='false'] .text {
	visibility: hidden;
}

.item-container[data-rendered='false'] .item:hover {
	background-color: var(--card-bcg);
	border: 0.03125rem solid var(--card-border);
}

.item {
	transform-style: preserve-3d;
	transition: transform 0.1s ease;
	--perspective: 1000px;
	--perspective: clamp(1000px, calc((1000 / 288) * 100cqw), 2083.33px);
	transform: perspective(var(--perspective)) rotateX(0) rotateY(0);
	will-change: transform;
}

.item.leaving {
	transition: transform 0.4s ease;
}

.item img,
.item picture {
	transform: translateZ(1.25rem);
	transform: translateZ(clamp(1.25rem, calc((20 / 288) * 100cqw), 2.5rem));
}

.text {
	flex: 1;
}

p.bold {
	font-weight: 500;
	font-size: 1rem;
}

p.secondary {
	font-weight: 400;
	font-size: 0.875rem;
	color: var(--text-secondary);
	margin: 0.25rem 0;
	margin: clamp(0.25rem, calc((4 / 288) * 100cqw), 0.5rem) 0;
}

footer {
	font-size: 0.875rem;
	width: 100%;
	max-width: 2560px;
	position: fixed;
	bottom: 0;
	background-color: var(--opacity);
	touch-action: none;
}

#signature {
	display: flex;
	gap: 1rem 2rem;
	justify-content: space-between;
	white-space: nowrap;
	flex-wrap: wrap;
	padding: 1.5rem 1rem;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

a {
	color: var(--text);
	text-decoration: none;
}

#signature a:hover {
	text-decoration: underline;
}

#grayscale-switch,
#theme-switch {
	background: unset;
	border: none;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.fa-circle-half-stroke {
	transform: scale(1) rotateY(0deg);
}

.fa-circle-half-stroke:hover {
	transform: scale(1.2) rotateY(0deg);
}

.fa-circle-half-stroke.flip {
	transform: scale(1) rotateY(180deg);
}

.fa-circle-half-stroke.flip:hover {
	transform: scale(1.2) rotateY(180deg);
}

.fa-circle-half-stroke,
.fa-sun,
.fa-moon,
.fa-github,
.fa-linkedin,
.fa-envelope {
	color: var(--text);
	cursor: pointer;
	aspect-ratio: 1/1;
}

.fa-sun:hover,
.fa-moon:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
	transform: scale(1.2);
}

.lightbox {
	display: none;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: hsla(0, 0%, 0%, 0.5);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.lightbox.active {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lightbox-content {
	position: relative;
	width: min(calc(100vw - 2rem), calc((100vh - 2rem) * 4 / 3));
	height: min(calc(100vh - 2rem), calc((100vw - 2rem) * 3 / 4));

	width: min(calc(100dvw - 2rem), calc((100dvh - 2rem) * 4 / 3));
	height: min(calc(100dvh - 2rem), calc((100dvw - 2rem) * 3 / 4));

	max-width: calc(100% - 2rem);
	max-height: calc(100% - 2rem);
	aspect-ratio: 4/3;
	min-width: 256px;
	min-height: 192px;
}

.lightbox img {
	width: 100%;
	height: 100%;
	aspect-ratio: 4/3;
	object-fit: contain;
	border-radius: 1rem;
	border-radius: clamp(1rem, calc((16 / 288) * 100cqw), 2rem);
	box-shadow: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0.1) 0px 1px 3px 0px,
		hsla(0, 0%, 0%, 0.1) 0px 1px 2px -1px;
	user-select: none;
	min-width: 256px;
	min-height: 192px;
}
.lightbox-close {
	position: fixed;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
	z-index: 1001;
	color: white;
	user-select: none;

	border: none;
	background-color: unset;
	padding: 0;

	/* width: 2.4rem;
	height: 2.4rem; */
	/* width: 3.6rem;
	height: 3.6rem; */
	width: 3rem;
	height: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsla(0, 0%, 0%, 0.25);
	border-radius: 50%;
}

.lightbox-close svg {
	width: 2.4rem;
	height: 2.4rem;
}

.lightbox-close:hover {
	background-color: black;
}

.lightbox-nav {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	cursor: pointer;
	z-index: 1001;
	user-select: none;
	border: none;
	background-color: hsla(0, 0%, 0%, 0.25);
	padding: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	/* width: 2.4rem;
	height: 2.4rem; */
	/* width: 3.6rem;
	height: 3.6rem; */
	width: 3rem;
	height: 3rem;
}

.lightbox-nav svg {
	width: 2.4rem;
	height: 2.4rem;
}

.lightbox-nav.hidden {
	display: none;
}

.lightbox-prev {
	left: 1rem;
}

.lightbox-next {
	right: 1rem;
}

.lightbox-prev:hover,
.lightbox-next:hover {
	background-color: black;
}

@media (not (any-pointer: fine)) {
	#grayscale-switch {
		display: none !important;
	}

	#icons {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (min-width: 576px) {
	#heading,
	main,
	#signature {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	hr.margin {
		margin: 0 2rem;
	}

	.lightbox-content {
		width: min(calc(100vw - 4rem), calc((100vh - 4rem) * 4 / 3));
		height: min(calc(100vh - 4rem), calc((100vw - 4rem) * 3 / 4));

		width: min(calc(100dvw - 4rem), calc((100dvh - 4rem) * 4 / 3));
		height: min(calc(100dvh - 4rem), calc((100dvw - 4rem) * 3 / 4));

		max-width: calc(100% - 4rem);
		max-height: calc(100% - 4rem);
	}

	.lightbox-close {
		top: 2rem;
		right: 2rem;
	}

	.lightbox-prev {
		left: 2rem;
	}

	.lightbox-next {
		right: 2rem;
	}
}

@media only screen and (min-width: 614px) {
	main {
		padding-top: 4.185rem;
		padding-bottom: 6.006rem;
	}
}

@media only screen and (min-width: 768px) and (min-height: 1024px), only screen and (min-width: 1024px) {
	.lightbox-close {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	.lightbox-nav {
		position: absolute;
	}

	.lightbox-prev {
		left: 1rem;
	}

	.lightbox-next {
		right: 1rem;
	}
}

@media only screen and (min-width: 1152px) {
	.grid-container--fill {
		grid-template-columns: repeat(4, 1fr);
	}

	.grid-container--fill.music .item {
		padding: 1rem;
		padding: clamp(1rem, calc((16 / 288) * 50cqw), 2rem);
		border-radius: 1rem;
		border-radius: clamp(1rem, calc((16 / 288) * 50cqw), 2rem);
		gap: 1rem;
		gap: clamp(1rem, calc((16 / 288) * 50cqw), 2rem);
	}

	.grid-container--fill.music {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* .item {
	border: solid 1px blue;
}
.item .text {
	border: solid 1px red;
}

.img-container {
	border: solid 1px red;
}
.img-container img {
	border: solid 1px blue;
} */
