html {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: var(--text);
	background-color: var(--background);
	height: 100%;
}

.theme-light {
	--text: hsl(360, 0%, 0%);
	--text-secondary: hsl(0, 0%, 38%);
	--background: hsl(0, 0%, 100%);
	--opacity: hsla(0, 0%, 100%, 0.5);
	--card-bcg: hsl(0, 0%, 100%);
	--card-border: hsl(0, 0%, 80%);
	--card-hover: hsl(0, 0%, 95%);
}

.theme-dark {
	--text: hsl(360, 0%, 100%);
	--text-secondary: hsl(0, 0%, 67%);
	--background: hsl(360, 0%, 0%);
	--opacity: hsla(0, 0%, 0%, 0.5);
	--card-bcg: hsl(0, 0%, 15%);
	--card-border: hsl(0, 0%, 15%);
	--card-hover: hsl(0, 0%, 25%);
}

body {
	height: 100%;
	flex-direction: row;
	letter-spacing: 0.05rem;
	background-color: var(--background);
	display: flex;
	justify-content: center;
}

#wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 2560px;
	display: flex;
	visibility: hidden;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

header {
	width: 100%;
	max-width: 2560px;
	position: fixed;
	top: 0;
	background-color: var(--opacity);
	z-index: 1;
	touch-action: none;
	overflow: auto;
}

#heading {
	padding: 1rem;
	padding-bottom: 1rem;
	margin: 0;
	font-size: 1.9rem;
	letter-spacing: 0.1rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem 2rem;
	white-space: nowrap;
	flex-wrap: wrap;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

#heading h1 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: 700;
	cursor: pointer;
}

#heading h1:hover {
	background-color: var(--text);
	color: var(--background);
}

#icons {
	display: flex;
	gap: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
}

#icons > * {
	max-width: 2rem;
}

main {
	flex: 1;
	overflow: auto;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	padding-top: 7.375rem;
	padding-bottom: 8.011rem;
}

.grid-container {
	display: grid;
	gap: 2rem;
	padding: 2rem 1rem;
}

h2 {
	padding: 0;
	margin: 2rem 1rem 0rem 1rem;
	font-size: 1.45rem;
	font-weight: 300;
	display: flex;
	max-width: max-content;
}

.grid-container--fill {
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.grid-container--fill.music {
	grid-template-columns: 1fr;
}

.theme-dark .grid-container--fill img {
	box-shadow: none;
}

.grid-container--fill.mocap > .item-container > * {
	padding: 0;
}

.grid-container--fill.mocap .item {
	border: none;
	background-color: transparent !important;
}

.grid-container--fill.mocap .item:hover {
	background-color: transparent !important;
}

.theme-dark .grid-container--fill.mocap > .item-container > .item > * {
	border: 0.03125rem solid var(--card-border);
}

.theme-dark .grid-container--fill.mocap .img-container {
	border: none !important;
}

.grid-container--fill.mocap img {
	box-shadow: none;
	border: none !important;
}

section h2 {
	cursor: pointer;
	text-decoration: none;
}

section h2:hover {
	text-decoration: line-through;
}

section.hidden .grid-container {
	padding: 1rem 0;
}

section.hidden h2:hover {
	text-decoration: none;
}

section.hidden h2:hover::before {
	content: '+\00a0';
}

section.hidden > .grid-container--fill > * {
	display: none;
}

.item {
	text-decoration: none;
	color: var(--text);
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--card-bcg);
	border: 0.03125rem solid var(--card-border);
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	flex: 1;
}

.item:hover {
	background-color: var(--card-hover);
	border: 0.03125rem solid var(--card-hover);
}

.grid-container.focus .item-container {
	filter: grayscale(1) blur(1px);
	transition: filter 0.5s ease;
}

.grid-container.focus .item-container:hover {
	filter: grayscale(0) blur(0);
	transition: filter 0.5s ease;
}

.item .img-container {
	margin: 0.35rem;
	margin-bottom: 0.2rem;
	transform-style: preserve-3d;
	display: flex;
}

.item img {
	max-width: 100%;
	border-radius: 1rem;
	box-shadow: hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0) 0px 0px 0px 0px, hsla(0, 0%, 0%, 0.1) 0px 1px 3px 0px,
		hsla(0, 0%, 0%, 0.1) 0px 1px 2px -1px;
	box-sizing: border-box;
	object-fit: contain;
	aspect-ratio: 4/3;
	flex: 1;
}

.item p {
	line-height: 1.5em;
	margin: 0;
}

.item-container {
	background-color: transparent;
	display: flex;
	border-radius: 1rem;
}

.item {
	transform-style: preserve-3d;
	transform: perspective(1000px);
	transition: transform 0.1s ease;
}

.item.leaving {
	transition: transform 0.4s ease;
}

.item img {
	transform: translateZ(20px);
	will-change: transform;
}

.text {
	padding: 0.25rem 0;
	flex: 1;
}

p.bold {
	font-weight: 500;
	font-size: 1rem;
}

p.secondary {
	font-weight: 400;
	font-size: 0.875rem;
	color: var(--text-secondary);
	margin: 0.25rem 0 0 0;
}

footer {
	font-size: 0.875rem;
	width: 100%;
	max-width: 2560px;
	position: fixed;
	bottom: 0;
	background-color: var(--opacity);
	touch-action: none;
}

#signature {
	display: flex;
	gap: 1rem 2rem;
	justify-content: space-between;
	white-space: nowrap;
	flex-wrap: wrap;
	padding: 1.5rem 1rem;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

a {
	color: var(--text);
	text-decoration: none;
}

a:not(.item):hover {
	text-decoration: underline;
}

hr {
	border: 0.03125rem solid var(--text);
	margin: 0 1rem;
}

#focus-switch,
#theme-switch {
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.fa-eye,
.fa-sun,
.fa-moon,
.fa-github,
.fa-linkedin,
.fa-envelope {
	color: var(--text);
	cursor: pointer;
}

.fa-eye:hover,
.fa-sun:hover,
.fa-moon:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
	transform: scale(1.2);
}

@media (not (any-pointer: fine)) {
	#focus-switch {
		display: none;
	}

	#icons {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media only screen and (min-width: 576px) {
	body {
		margin: 0 1rem;
	}

	header,
	footer {
		width: calc(100% - 2rem);
	}
}

@media only screen and (min-width: 613px) {
	main {
		padding-top: 4.184rem;
		padding-bottom: 6.005rem;
	}
}

@media only screen and (min-width: 1152px) {
	.grid-container--fill {
		grid-template-columns: repeat(4, 1fr);
	}

	.grid-container--fill.music {
		grid-template-columns: repeat(2, 1fr);
	}
}
